* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10vh 85vh 5vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  grid-area: main;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

#ttt-container {
  display: grid;
  max-width: 75%;
  max-height: 75%;
  grid-area: main;
  grid-template-areas: 
  "one two three"
  "four five six"
  "seven eight nine";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}

.ttt-square {
  background-color: white;
  height: 10vh;
  width: 10vh;
}

.unclicked:hover {
  background-color: lime;
}

#box1 {
  grid-area: one;
  border-bottom: 1vh solid black;
  border-right: 1vh solid black;
}

#box2 {
  grid-area: two;
  border-bottom: 1vh solid black;
}

#box3 {
  grid-area: three;
  border-bottom: 1vh solid black;
  border-left: 1vh solid black;
}

#box4 {
  grid-area: four;
  border-right: 1vh solid black;
}

#box5 {
  grid-area: five;
}

#box6 {
  grid-area: six;
  border-left: 1vh solid black;
}

#box7 {
  grid-area: seven;
  border-top: 1vh solid black;
  border-right: 1vh solid black;
}

#box8 {
  grid-area: eight;
  border-top: 1vh solid black;
}

#box9 {
  grid-area: nine;
  border-top: 1vh solid black;
  border-left: 1vh solid black;
}

.active {
  background-color: lime;
}

.player-red {
  background-color: red;
}

.player-blue {
  background-color: blue;
}

.unclicked {
  cursor: pointer;
}

#dialog {
  text-align: center;
  width: 100%;
  margin-bottom: 10%;
  font-weight: bold;
}

#turn-color {
  color: red;
}
