* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 10vh auto 5vh;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background-color: black;
  color: white;
}

main {
  display: grid;
  width: 100%;
  grid-area: main;
  grid-template-areas: 
  "1 2 3"
  "4 5 6"
  "7 8 9";
  margin: 2vh;
  justify-content: center;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-area: footer;
}

.ttt-square {
  background-color: white;
  width: 30vh;
  height: 30vh;
  cursor: pointer;
}

#box1 {
  grid-area: '1';
  border-bottom: 1vh solid black;
  border-right: 1vh solid black;
}

#box2 {
  grid-area: '2';
  border-bottom: 1vh solid black;
}

#box3 {
  grid-area: '3';
  border-bottom: 1vh solid black;
  border-left: 1vh solid black;
}

#box4 {
  grid-area: '4';
  border-right: 1vh solid black;
}

#box5 {
  grid-area: '5';
}

#box6 {
  grid-area: '6';
  border-left: 1vh solid black;
}

#box7 {
  grid-area: '7';
  border-top: 1vh solid black;
  border-right: 1vh solid black;
}

#box8 {
  grid-area: '8';
  border-top: 1vh solid black;
}

#box9 {
  grid-area: '9';
  border-top: 1vh solid black;
  border-left: 1vh solid black;
}

.active {
  background-color: lime;
  color: #fff;
}

.player-red{
  background-color: red;
}

.player-blue{
  background-color: blue;
}
